/* div{
    text-align: center;
    width:100px;
    height:100px;
    background-color: aqua;
    padding:20px,30px;
    border-width:10px;
    border-style:solid;
    border-color:red;
} */
/* div{
    height:100px;
    width:100px;
    background-color: red;
    border-radius:50%;
    /* text-align: center; */
